{{#if hasBlock}}
  {{yield stars}}
{{else}}
  {{#each stars as |star|}}
    <span class="rating-star" onclick={{action "setRating" star.rating}}>
      {{#if star.isFull}}
        {{fa-icon 'star'}}
      {{else}}
        {{fa-icon 'star-o'}}
      {{/if}}
    </span>
  {{/each}}
{{/if}}