<ul class="rr-list">
  {{#each model.songs as |song|}}
    <li class="rr-list-item">
      {{song.title}}
      {{star-rating class='fr' rating=song.rating item=song onClick=(action 'updateRating' song)}}
    </li>
  {{else}}
    <li class="rr-empty-message">
      No songs yet.
    </li>
  {{/each}}
  <div class="add-new-song">
    {{#if isAddingSong}}
      <form class="rr-inline-form" onsubmit={{action "saveSong"}}>
        {{input typr="text" class="rr-input" value=newSongName placeholder="New song name"}}
        {{input typr="text" class="rr-input" value=newSongRating placeholder="New song rating"}}
        <button type="submit" class="rr-action-button" disabled={{isAddSongButtonDisabled}}>Add</button>
        <span class="rr-cancel-icon" onclick={{action 'cancelAddSong'}}> {{fa-icon "times"}} </span>
      </form>
    {{else}}
      <div class="rr-new-label">
        <label onclick={{action "addSong"}}>
          {{fa-icon "plus"}}
          <span class="ml1">Add new song</span>
        </label>
      </div>
    {{/if}}
  </div>
</ul>