<div class="rr-container">
  <div class="rr-page-header">
    {{#link-to 'index'}}
      <h1 class="rr-app-title">
        Rock & Roll<small class="rr-subtitle">
          with Ember.js</small></h1>
    {{/link-to}}
  </div>
  <div class="rr-main-content">
    {{outlet}}
  </div>
</div>